.Servicios {
  width: 100%;
  height: auto;
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contServicio {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3rem;
}

.contTexto p {
  color: hsla(0, 0%, 0%, 0.541);
}

.contCajas {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  text-align: center;
  letter-spacing: 2px;
  color: #1e0e62;
  font-weight: 600;
  font-size: 14px;
}

.box {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 0.5s ease;
  -webkit-transition: box-shadow 0.5s, transform 0.5s ease;
  -moz-transition: box-shadow 0.5s, transform 0.5s ease;
  -ms-transition: box-shadow 0.5s, transform 0.5s ease;
  -o-transition: box-shadow 0.5s, transform 0.5s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.contindustrial .contOtros {
  flex: 15px;
}

.contImg {
  width: 100%;
  height: 10rem;
  margin-bottom: 8px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.contImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}

.blacklight {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.oculta {
  opacity: 0;
}

.visible {
  opacity: 1;
}

@media (max-width: 450px) {
  .contServicio {
    font-size: 14px;
    width: 90%;
  }
}
