/* styles/style.css */
body {
  background-color: #ffffff;
  font-family: "DM Sans", serif;
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  height: auto;
}

h1 {
  color: #333;
}

h2 {
  color: #1e0e62;
}

main {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px calc(100vh - 100px) auto;
}
header {
  background-color: #2f1893; /* Color de fondo #2F1893 */
  color: white;
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Logo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BotonesNav {
  display: flex;
  gap: 10px;
  padding-right: 60px;
}

.nav {
  width: 150px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.Home {
  color: white;
  background-color: transparent;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.nav:hover {
  background-color: #7e68e0;
  cursor: pointer;
}
.Cata {
  color: white;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  border: none;
  border-radius: 40px;
  outline: none;
  background-color: #2f1893;
  padding-left: 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.Contact {
  color: white;
  background-color: transparent;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #ffffffa4;
}
.LogoFinal {
  display: flex;
  margin-right: auto;
  padding-left: 60px;
}
.LogoFinal {
  display: flex;
  margin-right: auto;
  padding-left: 60px;
}
.Lista,
.Menu-Cerrar,
.Menu-Despl {
  display: none;
}

.Lista,
.Menu-Cerrar,
.Menu-Despl {
  display: none;
}
.Titulo {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  padding-left: 15px;
}
@media screen and (max-width: 980px) {
  .Menu-Despl,
  .Menu-Cerrar {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    width: 5rem;
  }

  .Menu-Cerrar {
    margin: 30px 5px 0 0;
  }

  .Menu-Despl {
    padding: 10px;
  }

  .BotonesNav,
  .Titulo {
    display: none;
  }
  .Hambu {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }
  .Lista {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    width: 250px;
    font-size: 25px;
  }
  .Lista li a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  .visible {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  .Logo img {
    width: 50px;
    height: 50px;
  }
}
